@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Roboto', sans-serif;
}

@theme {
  --color-mainbg: var(--color-amber-600);
  --color-form-border: var(--color-slate-400);
  --color-main-border: var(--color-slate-300);
  --color-hover-border: var(--color-slate-100);

  --color-success: var(--color-green-600);
  --color-brave: var(--color-blue-700);
  --color-warning: var(--color-orange-400);
  --color-danger: var(--color-red-700);
}
